dt Lorem
dd
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus felis id urna vulputate maximus. Aliquam vitae arcu id nulla convallis aliquam. Vivamus at nisl semper, sagittis lectus eu, fringilla nisl.
  small This #[a(href="#" title="Link used to test keyboard navigation within the widget") link] is here to test keyboard navigation.
dt Ipsum
dd
  p Nulla a facilisis sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur a est aliquet nisl consequat blandit. Aliquam consequat faucibus nisi eget molestie.
  small This #[a(href="#" title="Link used to test keyboard navigation within the widget") link] is here to test keyboard navigation.
dt Dolor
dd
  p Sed vel euismod lectus, in viverra massa. Sed ullamcorper, elit ac aliquam sollicitudin, eros lacus volutpat ipsum, eget elementum sapien enim vel erat. Nunc vel ante ac purus accumsan dapibus. Ut vitae eros efficitur, auctor libero ut, porta lacus.
  small This #[a(href="#" title="Link used to test keyboard navigation within the widget") link] is here to test keyboard navigation.
dt Sit Amet
dd
  p Condimentum mattis pellentesque id nibh. Non consectetur a erat nam at lectus. Nulla aliquet enim tortor at auctor. Aliquet eget sit amet tellus cras adipiscing enim eu turpis. Commodo ullamcorper a lacus vestibulum sed arcu. Augue eget arcu dictum varius duis at consectetur.
  small This #[a(href="#" title="Link used to test keyboard navigation within the widget") link] is here to test keyboard navigation.
