doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title TabpanelWidget Test Page
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="../src/tabpanelwidget.scss")
    link(rel="stylesheet" href="./style.css")
  body
    #app
    //- these require tabpanelwidget.js, etc.
    script(src="./index.js")
