@-ms-viewport {
    width: device-width;
}
html {
    scroll-padding-top: 5rem;
}
:focus:not(:focus-visible) + label {
  box-shadow: none !important;
}
nav ul:not(#TK) {
    margin: 0 0 2rem;;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 1rem 0 0;
}
nav a {
    font-size: 1.8rem;
    color: cornflowerblue;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
*:not(strong) {
    box-sizing: border-box;
    vertical-align: bottom;
    color: #555;
}
header,
.fieldset {
    width: 72%;
}
header {
    margin: 30px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #606c76;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}
h2:not(.tpw-hx) {
    font-size: 2.8rem;
    text-align: center;
    padding: 1rem !important;
    background: #b5c6ea;
    color: #3f3d55;
    margin: 3rem 0;
    font-weight: bold;
}
h2:not(.tpw-hx),
h3:not(.tpw-hx) {
    text-align: center;
}
h3 + div {
    margin: auto
}

:invalid {
    box-shadow: 0 0 0 4px #da236e !important;
}

[type=url]:not(:placeholder-shown):valid {
    box-shadow: 0 0 0 4px #23da43 !important;
    margin-bottom: 10px;
}

header h1:not(#TK) {
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 28px;
    line-height: 1.2;
}

header p,
header pre,
header ul {
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1;
}
select:not(#TK) {
    display: inline-block;
    /* Materialize styles select with display:none */
    margin-bottom: 10px;
}
select:not(#TK) {
    height: 40px;
    background-origin: initial;
    display: block;
    font-family: sans-serif;
    font-size: inherit;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: 8px 20px 7px 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: 3px;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M125.1 208h197.8c10.7 0 16.1 13 8.5 20.5l-98.9 98.3c-4.7 4.7-12.2 4.7-16.9 0l-98.9-98.3c-7.7-7.5-2.3-20.5 8.4-20.5zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 20px top 50%, 0 0;
    background-size: 18px auto, 100%;
}

button:not(#TK),
.input {
    text-transform: none;
    float: left;
    height: auto !important;
    /* materialize */
    font-family: sans-serif;
    font-size: inherit !important;
    /* materialize */
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 8px 10px 7px 10px !important;
    /* materialize */
    width: 68% !important;
    /* materialize */
    max-width: 100%;
    box-sizing: border-box !important;
    /* materialize */
    margin: 2px 0;
    border: 1px solid #aaa !important;
    /* materialize */
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .2em !important;
    /* materialize */
    appearance: none;
}

button:not(#TK) {
    float: right;
    width: 30% !important;
    /* materialize */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
button:not(#TK).vue-remove {
    clear: both;
    float: none;
    margin-top: 1rem;
}
[type=checkbox]:not(#TK) {
    position: absolute;
    opacity: 0;
}

label:not(#TK) {
    display: block;
    font-size: inherit;
    font-weight: 700;
    font-weight: 400;
    position: relative;
    background-repeat: no-repeat;
    margin: 5px 0 5px 10px;
}

[type=checkbox]+label:not(#TK) {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px 5px 40px;
    margin: 0;
    background-size: 22px;
    background-position: 5px 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 448 448' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none'%3E%3Crect stroke='%230175FD' stroke-width='32' x='16' y='16' width='416' height='416' rx='47'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
}

[type=checkbox]:checked+label:not(#TK) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%230175fd' d='M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z'%3E%3C/path%3E%3C/svg%3E");
}

[type=checkbox]:focus + label {
    box-shadow: 0 0 0 2px blue;
}

[for="fontWeight"] {
    white-space: nowrap;
}

ul:not(#TK) {
    list-style-type: disc;
    margin: 0 0 16px 24px;
    padding: 0;
    list-style-position: outside;
}

.oh {
    display: flow-root;
}

::placeholder {
    color: #cecece;
    font-weight: 400;
}

.fieldset,
.vue-fieldset {
    clear: both;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: -1.8rem auto 0;
    background: #fff;
    padding: 5px 15px 10px;
}
.vue-fieldset {
    margin: 1rem auto;
}
#controls {
    background: #333;
    color: #fff;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid #333;
    z-index: 1;
    padding: 10px 10px 4px;
    margin-bottom: -3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#controls * {
    color: inherit;
}
#controls > * {
    line-height: 30px;
}
#controls > a {
    line-height: 17px;
}

#controls p {
    margin: 0 0 5px;
    width: 20%;
}

#controls p > * {
    vertical-align: middle;
    font-weight: bold !important;
}

#controls label {
    display: inline-block !important;
    margin: 0 !important;
    text-align: center;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    /* Foundation */
}

#controls input {
    margin: 0;
    /* Milligram */
}

#controls label,
#controls input:first-of-type {
    width: 110px;
}

input[disabled] {
    cursor: not-allowed;
}

#controls input + input {
    color: #fff;
    width: 60px;
    padding: 5px;
    text-align: inherit;
    background: none;
    border-radius: 3px;
    height: auto;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 1.15;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#controls input[type=range] {
    width: auto;
    background: #333;
}

input[type=range]::-moz-range-track {
    background: #ccc;
}

.code {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 2px 5px;
    background: #ffd1df;
    color: #000;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 0 3px 3px 0;
}

#test-container {
    --space: 0;
    line-height: calc(1.4 + var(--space) / 100);
    letter-spacing: calc(1em * (var(--space) / 200));
    word-spacing: calc(1em * (var(--space) / 100));
}
#test-container > * {
    padding: 0 10px;
} 
#test-container h3:not(.tpw-hx) {
    font-size: 1.8rem;
    border-top: 4px solid #555;
    border-bottom: 4px solid #555;
}
label:not(#tk),
input[type=text]:not(#tk),
#test-container h3:not(.tpw-hx) {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
#test-container ul {
    margin: 0;
    padding: 0;
}

#test-container li {
    display: inline-block;
}

#homeLink {
    display: inline-block;
    margin-right: 12px;
}
.m-a {
    margin: auto;
}
.v-h {
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.refresh {
    width: 28px;
    height: 28px;
    margin: 2px 5px 2px;
}

.tpw-js {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.hidden {
    display: none;
}
pre {
    color: #000;
    overflow-x: auto;
    -moz-tab-size: 0;
    tab-size: 0;
    position: relative;
    white-space: pre;
}
pre code {
    font-size: 0.9rem;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-weight: 700;
    font-size: 1rem;
    color: #333;
    background: #ffd1df;
    border: 1px solid #ccc;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    margin: 0 0.2rem;
    vertical-align: middle;
    box-shadow: inset 0 0 1px #f2f2f2;
    display: block;
    overflow-x: auto;
    padding: .6rem .3rem;
    background: #333;
    color: #DCDCDC;
    text-shadow: 2px 2px #000;
}
#vue-wrapper {
    display: flex;
}
#vue-wrapper #left {
    min-width: 30%;
}
#vue-wrapper #right {
    padding-left: 1rem;
    flex-grow: 1;
}
#vue-wrapper #right .tpw-widget {
    margin-top: 3px;
}
#vue-wrapper #left input {
    width: 60% !important;
}
#vue-wrapper #left button {
    width: 37% !important;
}    
#vue-wrapper #left button.vue-remove {
    width: 100% !important;
}
@media screen and (max-width: 800px) {
    #test-container > div > div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    #homeLink {
        display: none;
    }
    #controls {
        padding: 1rem 0;
        display: block;
        position: relative;
    }
    #controls p {
        width: auto;
    }
    #controls p:last-of-type {
        margin-bottom: 1rem;
    }
}