doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title TabpanelWidget Test Page
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link#normalize(rel="stylesheet")
    link#the-sheet(rel="stylesheet")
    link(rel="stylesheet" href="../src/tabpanelwidget.scss")
    link(rel="stylesheet" href="./style.css")
  body
    header
      h1 TabpanelWidget Test Page
      p All the widgets below are only styled via #[strong tabpanelwidget.min.css]
      p
        input#normalizeYN.input(type="checkbox" value="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css")
        label(for="normalizeYN") Add normalize.css
      p
        label(for="stylesheet-switcher") Pick a Stylesheet
        select#stylesheet-switcher
          option(value="") None
          option(value="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css") Bootstrap
          option(value="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css") Foundation
          option(value="https://bulma.io/css/bulma-docs.min.css?v=202007241609") Bulma
          option(value="https://getuikit.com/css/theme.css?1318") Ulkit
          option(value="https://semantic-ui.com/dist/semantic.min.css") Semantic UI
          option(value="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css") Materialize
          option(value="https://unpkg.com/purecss@2.0.3/build/pure-min.css") Pure CSS
          option(value="http://getskeleton.com/dist/css/skeleton.css") Skeleton
          option(value="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.min.css") Milligram
      p.oh
        label(for="url") Add a Stylesheet
        input#url.input(inputmode="url" type="url" placeholder="https://example.com/styles.min.css" pattern="https://.*.css" size="30")
        button#set-url(type="button") Insert
      fieldset
        legend Options
        input#turn-off-tpw.input(type="checkbox")
        label(for="turn-off-tpw")
          | Turn the Widgets off [
          abbr(title="Plain Old Semantic HTML") POSH
          | ]
        br
        input#tabpanel-check-option-rounded.input(type="checkbox")
        label(for="tabpanel-check-option-rounded") Add "border-radius" to tabs/panels
        br
        input#tabpanel-check-option-centered.input(type="checkbox")
        label(for="tabpanel-check-option-centered") Center the tabs
        br
        input#rtl-switcher.input(type="checkbox")
        label(for="rtl-switcher")
          | Check RTL context (if you have "turned the widgets off", you'll need to
          a(title="Refresh The Page" href="/") refresh the pasge
          |  first)
    #controls
      p
        label(for="width") Width:
        input#width(type="range" value="100" step="1" min="30" max="100" name="width" onchange="document.querySelector('#width-value').value=this.value+'%'")
        input#width-value(value="100%" disabled="disabled")
      p
        label(for="fontSize") Font-size:
        input#fontSize(type="range" value="10" step="1" min="10" max="30" name="fontSize" onchange="document.querySelector('#fontSize-value').value=this.value+'px'")
        input#fontSize-value(value="" disabled="disabled")
      p
        label(for="fontWeight") Font-weight:
        input#fontWeight(type="range" value="500" step="100" min="300" max="800" name="fontWeight" onchange="document.querySelector('#fontWeight-value').value=this.value")
        input#fontWeight-value(value="500" disabled="disabled")
      p
        label(for="space") Space:
        input#space(type="range" value="0" step="2" min="0" max="30" name="space" onchange="document.querySelector('#space-value').value=this.value")
        input#space-value(value="0" disabled="disabled")
      a(title="Refresh The Page" href="/")
        b.v-h Refresh The Page
        svg(width="30px" height="30px" viewbox="0 0 286 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
            g(fill="#ffffff")
              path#Path(d="M114.294,21.429 C98.78,33.018 86.087,42.725 86.087,43 C86.087,43.275 98.893,53.065 114.544,64.756 L143,86.012 L143,71.408 L143,56.804 L149.25,57.442 C174.418,60.013 194.178,67.216 211.173,80.018 C220.734,87.219 234.712,102.435 240.292,111.716 C263.404,150.152 263.404,193.379 240.292,232.407 C233.675,243.582 214.582,262.675 203.407,269.292 C168.172,290.158 128.743,292.219 93.434,275.041 C28.675,243.536 8.148,160.908 50.935,103.964 C53.177,100.979 54.897,98.222 54.756,97.837 C54.399,96.862 34.773,80 33.994,80 C33.076,80 23.998,92.463 19.646,99.7 C10.769,114.457 4.257,132.652 1.464,150.5 C-0.746,164.63 -0.084,189.259 2.85,202 C15.805,258.268 58.369,300.241 115.04,312.633 C127.107,315.271 158.883,315.27 171,312.631 C228.317,300.148 271.079,257.371 283.633,199.96 C285.08,193.341 285.482,187.256 285.482,172 C285.482,151.094 284.415,143.527 279.285,128.04 C260.907,72.57 210.327,32.798 153.776,29.351 L143.052,28.697 L142.776,14.528 L142.5,0.359 L114.294,21.429")
    #test-container
      h2 TabPanels
      div
        div
          h3 Headings (#[code h5])
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code.rounded.hidden .tpw-rounded
          .tpw-widget
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-fancy
            code.code.rounded.hidden .tpw-rounded
          .tpw-widget.tpw-fancy
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-pills
            code.code.rounded.hidden .tpw-rounded
          .tpw-widget.tpw-pills
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-bar
          .tpw-widget.tpw-bar
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-bar
            code.code .tpw-plus-minus
          .tpw-widget.tpw-bar.tpw-plus-minus
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-bar
            code.code .tpw-plus-minus
            code.code .tpw-icons-at-the-end
          .tpw-widget.tpw-bar.tpw-plus-minus.tpw-icons-at-the-end
            include ./_vanilla-headings.pug
        div
          h3 Definition List #[code dl]
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code.rounded.hidden .tpw-rounded
          dl.tpw-widget
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-fancy
            code.code.rounded.hidden .tpw-rounded
          dl.tpw-widget.tpw-fancy
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-pills
            code.code.rounded.hidden .tpw-rounded
          dl.tpw-widget.tpw-pills
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-bar
          dl.tpw-widget.tpw-bar
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-bar
            code.code .tpw-plus-minus
          dl.tpw-widget.tpw-bar.tpw-plus-minus
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code.centered.hidden .tpw-centered
            code.code .tpw-bar
            code.code .tpw-plus-minus
            code.code .tpw-icons-at-the-end
          dl.tpw-widget.tpw-bar.tpw-plus-minus.tpw-icons-at-the-end
            include ./_vanilla-dl.pug
      h2 Accordions
      div
        div
          h3 Headings (#[code h5])
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
          .tpw-widget.tpw-accordion
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-disconnected
          .tpw-widget.tpw-accordion.tpw-disconnected
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-chevrons-east-south
          .tpw-widget.tpw-accordion.tpw-chevrons-east-south
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-icons-at-the-end
          .tpw-widget.tpw-accordion.tpw-icons-at-the-end
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-animate
          .tpw-widget.tpw-accordion.tpw-animate
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-plus-minus
          .tpw-widget.tpw-accordion.tpw-plus-minus
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-plus-minus
            code.code .tpw-icons-at-the-end
          .tpw-widget.tpw-accordion.tpw-plus-minus.tpw-icons-at-the-end
            include ./_vanilla-headings.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-plus-minus
            code.code .tpw-icons-at-the-end
            code.code .tpw-disconnected
          .tpw-widget.tpw-accordion.tpw-plus-minus.tpw-icons-at-the-end.tpw-disconnected
            include ./_vanilla-headings.pug
        div
          h3 Definition List (#[code dl])
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
          dl.tpw-widget.tpw-accordion
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-disconnected
          dl.tpw-widget.tpw-accordion.tpw-disconnected
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-chevrons-east-south
          dl.tpw-widget.tpw-accordion.tpw-chevrons-east-south
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-icons-at-the-end
          dl.tpw-widget.tpw-accordion.tpw-icons-at-the-end
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-animate
          dl.tpw-widget.tpw-accordion.tpw-animate
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-plus-minus
          dl.tpw-widget.tpw-accordion.tpw-plus-minus
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-plus-minus
            code.code .tpw-icons-at-the-end
          dl.tpw-widget.tpw-accordion.tpw-plus-minus.tpw-icons-at-the-end
            include ./_vanilla-dl.pug
          h4
            code.code .tpw-widget
            code.code .tpw-accordion
            code.code .tpw-plus-minus
            code.code .tpw-icons-at-the-end
            code.code .tpw-disconnected
          dl.tpw-widget.tpw-accordion.tpw-plus-minus.tpw-icons-at-the-end.tpw-disconnected
            include ./_vanilla-dl.pug
    script(src="./index.js")
    script.
      //- XXX convert all this to vue
      ;(function() {
      const html = document.documentElement
      let tabpanelCheckOptionRounded = document.querySelector("#tabpanel-check-option-rounded")
      let tabpanelCheckOptionCentered = document.querySelector("#tabpanel-check-option-centered")
      let thePage = document.querySelector("#test-container")
      let tabPanels = document.querySelector("#test-container > div:first-of-type")
      let accordions = document.querySelector("#test-container > div:last-of-type")
      let fontSize = document.querySelector("#fontSize")
      let fontWeight = document.querySelector("#fontWeight")
      let space = document.querySelector("#space")
      let sizeSlider = document.querySelector("#width")
      let stylesheetSwitcher = document.querySelector("#stylesheet-switcher")
      let stylesheet = document.querySelector("#the-sheet")
      let normalize = document.querySelector("#normalize")
      let setURL = document.querySelector("#set-url")
      let theURL = document.querySelector("#url")
      let normalizeYN = document.querySelector("#normalizeYN")
      let rtlSwitcher = document.querySelector("#rtl-switcher");
      // resize the main container
      sizeSlider.addEventListener("change", (e) => {
      tabPanels.style.width=sizeSlider.value+'%';
      accordions.style.width=sizeSlider.value+'%';
      });
      // Increase/Decrease the font-size
      fontSize.addEventListener("change", (e) => {
      html.style.fontSize=fontSize.value+'px';
      });
      // Increase/Decrease the font-weight
      fontWeight.addEventListener("change", (e) => {
      document.querySelectorAll(".tpw-tab").forEach(el => {
      el.style.fontWeight=fontWeight.value;
      })
      });
      // Increase/Decrease space
      space.addEventListener("change", (e) => {
      thePage.style.setProperty('--space', space.value)
      });
      // Inserts Stylesheet via input
      setURL.addEventListener("click", (e) => {
      stylesheet.href = theURL.value;
      });
      // Inserts Normalize
      normalizeYN.addEventListener("change", (e) => {
      e.target.checked ? normalize.href = normalizeYN.value : normalize.href = ""
      });
      // Inserts Stylesheet via select
      stylesheetSwitcher.addEventListener("change", (e) => {
      stylesheet.href = stylesheetSwitcher.value;
      });
      // Add border-radius to tabs in tabpanel
      tabpanelCheckOptionRounded.addEventListener("change", (e) => {
      document.querySelectorAll(".rounded").forEach(el => {
      el.classList.toggle("hidden");
      })
      document.querySelectorAll(".tpw-tabpanel").forEach(el => {
      el.classList.toggle("tpw-rounded");
      })
      });
      // Centers the tabs in tabpanel
      tabpanelCheckOptionCentered.addEventListener("change", (e) => {
      document.querySelectorAll(".centered").forEach(el => {
      el.classList.toggle("hidden");
      })
      document.querySelectorAll(".tpw-tabpanel").forEach(el => {
      el.classList.toggle("tpw-centered");
      })
      });
      let uninstalls = []
      function installWidgets() {
      document.querySelectorAll(".tpw-widget").forEach(el => {
      uninstalls.push(tpw.install(el, true));
      })
      }
      function uninstallWidgets() {
      uninstalls.map(uninstall => uninstall())
      uninstalls = []
      }
      installWidgets()
      document.querySelector("#turn-off-tpw").addEventListener("change", e => {
      e.target.checked ? uninstallWidgets() : installWidgets()
      }, {passive: true})
      // RTL switcher
      let widgets = document.querySelectorAll(".tpw-widget")
      rtlSwitcher.addEventListener("change", (e) => {
      widgets.forEach(el => {
      const dir = el.getAttribute("dir") || "ltr"
      el.setAttribute("dir", dir === "ltr" ? "rtl" : "ltr");
      })
      });
      })()

