name: Release npm package
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        required: false
        default: "patch"
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      - run: |
          git config --global user.email "tj.koblentz@gmail.com"
          git config --global user.name "TJ Koblentz (CI)"
      - run: npx release-it ${{ github.event.inputs.version }} --npm.skipChecks --ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TJK_TOKEN }}
